<!DOCTYPE html>
<html lang="pt-br">
   <head>
       <meta charset="utf-8"/>
       <title>Home</title>
       <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
       <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
   </head>
   <body style="background-color:#E6E6FA">

       <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
       <a class="navbar-brand" href="#">Home</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <a class="nav-link" href={{ url_for('meusProdutos') }}>Meus produtos <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="{{ url_for('createProduct') }}">Novo produto</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
           </li>
         </ul>
     </nav>
     <div class="container">
       {% with messages = get_flashed_messages() %}
          {% if messages %}
           <div class="alert alert-warning">
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
      {% endwith %}

      {% block content %}

      {% endblock %}
   </div>
   <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"> </script>

   </body>
</html>
